[defaults]
inventory= inventory/hosts.ini
remote_user= ubuntu
private_key_file= ~/.ssh/ansible-control-server-keypair
host_key_checking= False
retry_files_enabled= False
deprecation_warnings = False

[privilege_escalation]
become= True
become_method = sudo 
become_user = root
